# Node
node_modules/
dist/
build/

# Maven/Java
target/
*.jar
*.war
*.log
logs/
*.err
*.bat
*.cmd
*.ps1
*.ps
*error*.txt
err.txt
err2.txt
gateway-log.txt
springboot-log.txt
test.py
tools/
temp_hash/
backend/uploads/
dependency_tree.txt
filelist.txt
java_files.txt
lombok.config
maven_install.txt
maven_output.txt


# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Env variables
.env
